<h1>User Management</h1>
<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="usersDataGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>UserId</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#usersDataGrid').dataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/UserManagement/LoadUser",
                "type": "POST",
                "datatype": "json"
                //"dataSrc": function(json) {
                //    return json.data;
                //}
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [
                { "data": "userId", "name": "userId", "autoWidth": true },
                { "data": "firstName", "name": "firstName", "autoWidth": true },
                { "data": "lastName", "name": "lastName", "autoWidth": true },
                { "data": "email", "name": "email", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/UserManagement/Edit/' + full.userId + '">Edit</a>'; }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return "<a href='#' class='btn btn-danger' onclick=DeleteUser('" + row.userId + "'); >Delete</a>";
                    }
                }
            ]
        });
    });

    function DeleteUser(id) {
        $.ajax(
            {
                type: 'Get',
                url: 'UserManagement/Delete/'+ id,
                success: function (response) {
                    window.location.href = '@Url.Action("")';
                }
            });
    }
</script>


@*https://www.c-sharpcorner.com/article/using-jquery-datatables-grid-with-asp-net-core-mvc/*@