@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>

    </div>
</div>
